* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(56, 40, 193);
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-form {
    border-radius: 5px;
    margin: 20px auto;
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.login-header {
    text-align: center;
    margin: 50px auto;
}

.inputs {
    padding-left: 5px;
}

.inputs , .btn-login{
    width: 250px;
    margin: 20px auto;
    display: block;
    height: 30px;
}

.btn-login {
    border-radius: 5px;
    height: 35px;
    color: white;
    background-color:  rgb(56, 40, 193);
    font-size: 17px;
    cursor: pointer;
}

.icon-btn {
    display: flex;
    justify-content: space-around;
}


.login-with {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.icons-btn {
    margin-top: 20px;
}

.btn-facebook , .btn-google {
    height: 27px;
    border: 1px solid #cbb9b9;
    width: 117px;
    margin: auto 5px;
    background-color: #f6ecec;
    cursor: pointer;
}

.btn-facebook {
    color: blue;
}

.btn-google {
    color:red;
}

.login-footer {
    text-align: center;
    margin: 30px;

}